<div data-testid="hsl-sliders">
  <div>
    <label for="hsl-h">Hue</label>
    <input
      id="hsl-h"
      type="range"
      min="0"
      max="360"
      step="1"
      [(ngModel)]="h"
      (change)="onHslChange()"
      (input)="onHslInput()"
      data-testid="hsl-slider-h"
    />
    <span data-testid="hsl-value-h">{{ Math.round(h()) }}°</span>
  </div>

  <div>
    <label for="hsl-s">Saturation</label>
    <input
      id="hsl-s"
      type="range"
      min="0"
      max="100"
      step="0.1"
      [(ngModel)]="s"
      (change)="onHslChange()"
      (input)="onHslInput()"
      data-testid="hsl-slider-s"
    />
    <span data-testid="hsl-value-s">{{ Math.round(s()) }}%</span>
  </div>

  <div>
    <label for="hsl-l">Lightness</label>
    <input
      id="hsl-l"
      type="range"
      min="0"
      max="100"
      step="0.1"
      [(ngModel)]="l"
      (change)="onHslChange()"
      (input)="onHslInput()"
      data-testid="hsl-slider-l"
    />
    <span data-testid="hsl-value-l">{{ Math.round(l()) }}%</span>
  </div>

  <div data-testid="hsl-display">
    hsl({{ Math.round(h()) }}, {{ Math.round(s()) }}%, {{ Math.round(l()) }}%)
  </div>
</div>
