.lch-sliders {
  .slider-group {
    position: relative;
  }

  .slider {
    width: 100%;
    height: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;

    // Custom track styling
    &::-webkit-slider-track {
      height: 2rem;
      border-radius: 0.5rem;
    }

    &::-moz-range-track {
      height: 2rem;
      border-radius: 0.5rem;
    }

    // Custom thumb styling
    &::-webkit-slider-thumb {
      appearance: none;
      -webkit-appearance: none;
      width: 1rem;
      height: 2rem;
      border-radius: 0.25rem;
      cursor: pointer;
      background-color: white;
      border: 2px solid #1f2937;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
      transition: transform 150ms;

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        transform: scale(0.95);
      }
    }

    &::-moz-range-thumb {
      width: 1rem;
      height: 2rem;
      border-radius: 0.25rem;
      cursor: pointer;
      border: 2px solid #1f2937;
      background-color: white;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
      transition: transform 150ms;

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        transform: scale(0.95);
      }
    }

    // Focus styles
    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px white, 0 0 0 4px #3b82f6;
    }
  }
}
